<h1>Student List</h1>

<table>
  <thead>
  <td>Name</td>
  <td>LRN</td>
  <td>Birthdate</td>
  <td>Phone Numbers</td>
  </thead>
  <% @student.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.student_number %></td>
      <td><%= student.birthdate %></td>
      <td> <%=  student.phone_numbers %> </td>
<!--      <td> <%# student.each do |student| %>-->
<!--      <tr><%#= student.phone_numbers %> </tr></td>-->
    </tr>
  <% end %>
</table>