<h1>Student List</h1>

<table>
  <thead>
  <td>Name</td>
  <td>LRN</td>
  <td>Birthdate</td>
  <td>Phone Numbers</td>
  </thead>
  <% @student.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.student_number %></td>
      <td><%= student.birthdate %></td>
      <td>
        <ul>
          <% student.phone_numbers.each do |phone_number| %>
            <li><%= phone_number.content %></li>
          <% end %>
        </ul>
      </td>
  <% end %>





  <%# @phone_number.each do |phone_number| %>
<!--    <tr>-->
<!--      <td><%#= phone_number.content %> <%#= phone_number.student_id %></td>-->
<!--    </tr>-->
  <%# end %>
<!--</table>-->

<%# if student.student_number == phone_number.student_id %>
<%#= phone_numbers.content %>