<div class="container-md">
  <div class="row">
    <div class="col">
      <h1 class="float-left">Student List</h1>
    </div>

<table>
  <thead>
  <td>Name</td>
  <td>LRN</td>
  <td>Birthdate</td>
  <td>Phone Numbers</td>
  </thead>
  <% @student.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.student_number %></td>
      <td><%= student.birthdate %></td>
      <td>
        <ul>
          <% student.phone_numbers.each do |phone_number| %>
            <li><%= phone_number.content %></li>
          <% end %>
        </ul>
      </td>
  <% end %>